@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

[data-testid="main-container"] .container {
    max-width: none;
    padding: 0;
}

.alert .material-icons {
    vertical-align: middle;
}

.playground-wapper [data-testid="playground"] {
    display: flex;
    flex-direction: column-reverse;
}

.playground-wapper [data-testid="playground"] > div:first-child {
    margin-top: 10px;
}

.playground-wapper [data-testid="playground"] > div:first-child > div:last-child {
    bottom: auto;
    top: -30px;
}

.playground-wapper [data-testid="playground"] > div:nth-child(2) {
    border-top: 1px solid var(--theme-ui-colors-border,#CED4DE);
}

.card-header > * {
    margin-bottom: 0;
}

.SupermarketMegaMenu .playground-wapper [data-testid="live-preview"] { max-height: 300px; overflow: auto }

[data-testid="sidebar"] a[href*="/chiara"] { display: none !important }

/* Define the keyframes for the neon shadow growth animation */
@keyframes growNeonShadow {
    0% {
        box-shadow:
        0 0 0 1px rgba(0, 255, 255, 0.1),  /* Cyan */
        0 0 0 2px rgba(0, 255, 255, 0.1),
        0 0 0 3px rgba(0, 255, 255, 0.1);
    }
    20% {
        box-shadow:
        0 0 0 1.5px rgba(127, 0, 255, 0.1),  /* Transitioning to Purple */
        0 0 0 3px rgba(127, 0, 255, 0.1),
        0 0 0 4.5px rgba(127, 0, 255, 0.1);
    }
    40% {
        box-shadow:
        0 0 0 2px rgba(255, 0, 255, 0.1),  /* Magenta */
        0 0 0 4px rgba(255, 0, 255, 0.1),
        0 0 0 6px rgba(255, 0, 255, 0.1);
    }
    60% {
        box-shadow:
        0 0 0 2.5px rgba(173, 216, 230, 0.1),  /* Transitioning to Light Blue */
        0 0 0 5px rgba(173, 216, 230, 0.1),
        0 0 0 7.5px rgba(173, 216, 230, 0.1);
    }
    80% {
        box-shadow:
        0 0 0 3px rgba(138, 43, 226, 0.1),  /* Light Purple */
        0 0 0 6px rgba(138, 43, 226, 0.1),
        0 0 0 9px rgba(138, 43, 226, 0.1);
    }
    100% {
        box-shadow:
        0 0 0 4px rgba(0, 255, 255, 0.2),  /* Back to Cyan with slightly larger shadows */
        0 0 0 8px rgba(0, 255, 255, 0.2),
        0 0 0 12px rgba(0, 255, 255, 0.2);
    }
}

/* Apply the animation to the element */
.sbc-component {
    animation: growNeonShadow 4s infinite alternate  ease-in-out;
    border-radius: 8px;
}
